html, body {
    height: 100%;
}

body {
    font-family: hiragino-kaku-gothic-pron, sans-serif;
font-weight: 100;
font-style: normal;
}

p {
    font-size: 26px;
    color: #000000;
      background: linear-gradient(to bottom, lightsteelblue, #3df89d);
}

a {
    color: #000000;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 40px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 45px;
}

.margin {
    margin-bottom: 20px;
}

.bg-1 {

    background-color: #675A6F; /* Chinese Violet */
    color: #ffffff;
    text-anchor: center;
}

.bg-2 {
    background-color: #2e72a1; /* Blue */
    color: #00ff00;

}

.card {
    color: white;
    text-align: center;
}

.card-title {
    font-weight: 10;
    color:black;
}

.bg-3 { /*ABOUT ME SECTION*/
    background-color: #7161ef; /* Black */
    color: #ffffff;
}

.bg-4 {
    background-color: #000000; /* Dark Gray */
    color: #ffffff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 7;
    border-radius: 60;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.navbar-nav li a:hover {
    color: #ffb2a4 !important;
}
